

    <div class="container-fluid"> 
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-center"></div>
                <div class="text-center">
                    <h1>Mensaje enviado</h1>
                    <h5> {{ titulo }} <br> Muchas gracias </h5>
                    <button type="button" class="btn btn-success"><a href="/" style="color: white ;"> Regresar al inicio</a></button>
                </div>
            </div>
        </div>
    </div>

